* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-red {
    color: red;
}

.black-nav {
    background: black;
    width: 100%;
    color: white;
    padding: 20px;
}

.post-list {
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid gray;
}

.heart {
    font-size: 30px;
    color: red;
    cursor: pointer;
}

.font-size {
    font-size: 40px;
    padding-left: 5px;
}